:root{
    --header-color: #4E4E50;
    --header-lighter: #ec084c;
    --main-color: #1A1A1D;
    --nice-red: #C3073F;
    --square-hover: rgba(243, 230, 230, 0.8);
    --grid-color: #7c7c81;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
    font-size: 1.6rem;
    background-color: var(--main-color);
}
  
header{
    font-size: 3rem;
    font-family: 'Reggae One', cursive;
    color: var(--nice-red);
    text-shadow: -3px 0 WHITE, 0 3px WHITE, 3px 0 WHITE, 0 -3px WHITE;
}
  
h1{
    line-height: 1.3;
}

.just-header{
    text-align: center;
    border-bottom: 3px solid black;
    background-color: var(--header-color);
    padding: 2.5rem;
    
}

.round-text{
    text-align: center;
    padding: 2rem;
    font-family: 'Teko', sans-serif;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    color: white;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 484px;
    width: 484px;
    border: 2px solid var(--grid-color);
    margin: auto;
}

.square{
    border: 2px solid var(--grid-color);
    height: 160px;
    width: 160px;
    cursor: pointer;
    text-align: center;
    font-family: 'Reggae One', cursive;
    font-size: 5rem;
    color: white;
}

.square:hover{
    background-color: var(--square-hover);
    transition: background-color 0.2s linear;
}

.restart{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.restart-button{
    padding: 7px 14px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    background-color: var(--nice-red);
}

.restart-button:hover{
    background-color: var(--header-lighter);
    transition: background-color 0.2s linear;
}


.firstScreen{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.button-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modeButton{
    height: 140px;
    width: 280px;
    z-index: 4;
    border: 3px solid white;
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--nice-red);
    transition: top ease 0.5s;
    margin-right: 70px;
    margin-left: 70px;
    position: relative;
    font-family: monospace;
    font-size: 1.5rem;
    color: white;
    top: 0;
}


.modeButton:hover{
    top: -15px;
    transition: top 0.6s ease;
}


.game-text{
    font-size: 6rem;
    color: white;
    font-family: 'Akaya Kanadaka', cursive;
}